/**
 * Custom variables
 * ----------------------------------------------------------------------------
 */
// Divider Styles
$topbar-divider-border-bottom: none;
$topbar-divider-border-top: none;
$footer_font_size: .9rem;