/* makes the title clickable, but stays white */
.tab-bar .tab-bar-section a {
	color: #FFF !important;
}

/*top- bar-contrast/*/
.top-bar-contrast {
	background: $dark_grey;
	padding: 6px 0;
	button {
		margin-bottom: 0;
	}

	button.sign-in {
		background: $link_color_bright;
		padding: 8px 17px;
		border-radius: 3px;
		float: right;
		margin-left: 10px;
		font-size: 0.9rem;

		&:hover {
			background-color: $link_color_bright_hover;
		}

		&:active {
			background-color: $link_color_bright_active
		}

		a {
			color: #FFF;
			text-decoration: none;
		}
	}
}

@media only screen and (max-width: 40em) {  /* max-width 640px, mobile-only styles, use when QAing mobile issues */

	/*top- bar-contrast/*/
	.top-bar-contrast {
		padding: 6px 0.9375rem;
		button {
			margin-bottom: 0;
		}

		button.sign-in {
			background: $link_color_bright;
			padding: 4px 10px;
			margin: .4rem 0 .4rem .4rem;
			font-size: 0.7rem;
		}
	}

}


// A more subtle background color for the active menu item
.top-bar-section li.active:not(.has-form) a:not(.button)  {
	background: $primary-darken;
}
.top-bar-section li.active:not(.has-form) a:hover:not(.button) {
	background: $primary-darken-more;
}

// Medium screens /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */
@media only screen and (min-width: 40.063em) and (max-width: 64em) {

	$medium_title_increase: 1rem;
	$medium_title_size: 2.8125rem+$medium_title_increase;
	.tab-bar {
		height: $medium_title_size;
		line-height: $medium_title_size;
		h1 {
			font-size: 2.125rem;
			padding: ($medium_title_increase/2) 0;
		}

		.left-small {
			height: 2.8125rem+$medium_title_increase;
			.menu-icon {
				height: 2.8125rem+$medium_title_increase;
			}
		}
	}
}
