body.search {
	section.container .small-12 h2{
		
	}
}

a.image_download_link img{
	position: relative;
/*	&:before {
		font-family: "icomaren";
		content: "\e60d";
		display: block;
		font-weight: normal;
		text-shadow: 1px 1px 1px #FFF;
		opacity: 0;
		color: $paragraph_link;
		-webkit-transition: all .3s ease;
		-moz-transition: all .3s ease;
		-ms-transition: all .3s ease;
		-o-transition: all .3s ease;
		transition: all .3s ease;
		font-size: 3.5em;
		position: absolute;
	top: 50%;
	transform: translateY(107%) translateX(140%);
		//background: #fff;
		//border: 1px solid $paragraph_link;
		//border-radius: 100%;
	}
	&:hover:before {
		opacity:1;
		cursor: url(images/download_icon.png), url(https://cdn4.iconfinder.com/data/icons/meBaze-Freebies/64/download.png), crosshair;
	}*/
	&:hover {
		opacity:1;
		cursor: url(images/download_icon.png), url(https://cdn4.iconfinder.com/data/icons/meBaze-Freebies/64/download.png), crosshair;
	}
	&:active:hover {
		cursor: url(images/download_icon_active.png);
	}	
	&:active:before {
		opacity:1;
		color: $primary_color;
		-webkit-transition: all .03s ease;
		-moz-transition: all .03s ease;
		-ms-transition: all .03s ease;
		-o-transition: all .03s ease;
		transition: all .03s ease;

	}		
}