
@font-face {
    font-family: 'geometria';
    src: url('fonts/geometria-thin-webfont.eot');
    src: url('fonts/geometria-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/geometria-thin-webfont.woff') format('woff'),
         url('fonts/geometria-thin-webfont.ttf') format('truetype'),
         url('fonts/geometria-thin-webfont.svg#geometriathin') format('svg');
    font-weight: 100;
    font-style: normal;

}

@font-face {
    font-family: 'geometria';
    src: url('fonts/geometria-thinitalic-webfont.eot');
    src: url('fonts/geometria-thinitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/geometria-thinitalic-webfont.woff') format('woff'),
         url('fonts/geometria-thinitalic-webfont.ttf') format('truetype'),
         url('fonts/geometria-thinitalic-webfont.svg#geometriathin_italic') format('svg');
    font-weight: 100;
    font-style: italic;

}

@font-face {
    font-family: 'geometria';
    src: url('fonts/geometria-webfont.eot');
    src: url('fonts/geometria-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/geometria-webfont.woff') format('woff'),
         url('fonts/geometria-webfont.ttf') format('truetype'),
         url('fonts/geometria-webfont.svg#geometriaregular') format('svg');
    font-weight: normal;
    font-weight: 300;
    font-style: normal;

}


@font-face {
    font-family: 'geometria';
    src: url('fonts/geometria-italic-webfont.eot');
    src: url('fonts/geometria-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/geometria-italic-webfont.woff') format('woff'),
         url('fonts/geometria-italic-webfont.ttf') format('truetype'),
         url('fonts/geometria-italic-webfont.svg#geometriaitalic') format('svg');
    font-weight: normal;
    font-weight: 300;
    font-style: italic;

}


@font-face {
    font-family: 'geometriabold';
    src: url('fonts/geometria-bold-webfont.eot');
    src: url('fonts/geometria-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/geometria-bold-webfont.woff') format('woff'),
         url('fonts/geometria-bold-webfont.ttf') format('truetype'),
         url('fonts/geometria-bold-webfont.svg#geometriabold') format('svg');
    font-weight: bold;
    font-weight: 500;
    font-style: normal;

}

@font-face {
    font-family: 'geometriabold_italic';
    src: url('fonts/geometria-bolditalic-webfont.eot');
    src: url('fonts/geometria-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/geometria-bolditalic-webfont.woff') format('woff'),
         url('fonts/geometria-bolditalic-webfont.ttf') format('truetype'),
         url('fonts/geometria-bolditalic-webfont.svg#geometriabold_italic') format('svg');
    font-weight: bold;
    font-weight: 500;
    font-style: italic;

}

@font-face {
    font-family: 'geometriaheavy';
    src: url('fonts/geometria-heavy-webfont.eot');
    src: url('fonts/geometria-heavy-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/geometria-heavy-webfont.woff') format('woff'),
         url('fonts/geometria-heavy-webfont.ttf') format('truetype'),
         url('fonts/geometria-heavy-webfont.svg#geometriaheavy') format('svg');
    font-weight: 600;
    font-style: italic;

}

@font-face {
    font-family: 'geometriaheavy_italic';
    src: url('fonts/geometria-heavyitalic-webfont.eot');
    src: url('fonts/geometria-heavyitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/geometria-heavyitalic-webfont.woff') format('woff'),
         url('fonts/geometria-heavyitalic-webfont.ttf') format('truetype'),
         url('fonts/geometria-heavyitalic-webfont.svg#geometriaheavy_italic') format('svg');
    font-weight: 600;
    font-style: italic;
}
